<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css" />

    <title>Generate Barcodes</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png"/>
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form id="name-tag-form">
        <div class="form-group">
          <p>Generate Name Tags here</p>
          <br />
          <input
                  id="name"
            type="text"
            name="name"
            placeholder="Name"
          />
            <br />

          <input
                  id="position"
            type="text"
            name="position"
            placeholder="Position"
          />

            <button class="btn" id="addName">Add</button>

            <div id="names-list">

            </div>
        </div>
        <input type="submit" value="Generate" id="generateNameTags" class="btn"/>
      </form>
      <form method="POST" action="/download">
              <input type="hidden" id="filename" name="filename"/>
              <input type="submit" value="Download" class="btn" id="downloadBtnFile" />
      </form>

    </div>
  <script src="static/js/main.js"></script>
  </body>
</html>

