<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<body>
    <p>Hi {{details.organizer}}</p>
    <p>Your booking was rejected due to conflict with booked meeting, please check the calendar for available time at https://alrais-meeting-rooms.web.app/book</p>

    <h3>Details</h3>
    <p>Title: {{details.title}}</p>
    <p>Date: {{details.date}}</p>
    <p>Start Time: {{details.start}}</p>
    <p>End Time: {{details.end}}</p>

</body>
</html>

